.loginform{
    padding: 7% 35%;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../Photos/chex1.png");
    display: block;
    margin: auto;
     
}


.loginimg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    opacity: 1;
    height: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: fit-content;
}


.loginstdtext{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 30px;
    margin: 5% 0%;
    text-align: center;
}

.email1{
    width: 400px;
}

.password1{
    width: 400px;
}
.logbtn{
    width: 400px;
}

.heading{
    padding:2% 0% ;
    
}

.email, .password, .option{
    padding: 2% 0%;
    display: block;
}

.teacherbtn, .studentbtn{
    width: 200px    ;
    border-radius: 5px;
    
}

.forgot{
    float: right;
}

.signup{
    padding: 2% 0%;
}
.loginas{
    float: left;
}

.lform{
    
    margin: 0% 35%;
}

.rform{
    padding: 0% 35%;
}

.rbtn{
    margin-right: 5%;
}

.rbtn1{
    margin-right: 2%;
}


.errstatus{
    color: red;
    text-align: left;
}